{% extends 'invoices/dashboard.html.twig' %}

{% block submodules %}
    <div class="container-fluid">
        <div style="display: flex !important; align-items: center !important; justify-content: space-between !important;">
            <h4 style="font-size: 18px; font-weight: 600;text-transform: uppercase;color: #495057;">Create new</h4>
            <div>
                <nav>
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            <a href="{{ path('invoices.company.showAll') }}" style="text-decoration: none; color: #495057;">Companies</a>
                        </li>
                        <li class="active breadcrumb-item">
                            <a href="{{ path('invoices.company.create.page') }}" style="text-decoration: none; color: #74788d;">Add Company</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4" style="font-size: 15px; margin: 0 0 7px; font-weight: 600;">Basic Information</div>
                        <form id="create-company-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3 form-group">
                                        <label for="name" style="margin-bottom: .5rem; font-weight: 500;">Company name</label>
                                        <input id="name" name="name" placeholder="Enter company name..." type="text" class="form-control" style="padding: .47rem .75rem; font-size: .8125rem; display: block; font-weight: 400; line-height: 1.5;">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="identificationNumber" style="margin-bottom: .5rem; font-weight: 500;">Identification Number</label>
                                        <input id="identificationNumber" name="identificationNumber" placeholder="Enter identification number..." type="text" class="form-control" style="padding: .47rem .75rem; font-size: .8125rem; display: block; font-weight: 400; line-height: 1.5;">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="phoneNumber" style="margin-bottom: .5rem; font-weight: 500;">Phone number</label>
                                        <input id="phoneNumber" name="phoneNumber" placeholder="Enter company phone number..." type="text" class="form-control" style="padding: .47rem .75rem; font-size: .8125rem; display: block; font-weight: 400; line-height: 1.5;">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="email" style="margin-bottom: .5rem; font-weight: 500;">Email</label>
                                        <input id="email" name="email" placeholder="Enter company email..." type="email" class="form-control" style="padding: .47rem .75rem; font-size: .8125rem; display: block; font-weight: 400; line-height: 1.5;">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3 form-group">
                                        <label for="street" style="margin-bottom: .5rem; font-weight: 500;">Street</label>
                                        <input id="street" name="street" placeholder="Enter company location street..." type="text" class="form-control" style="padding: .47rem .75rem; font-size: .8125rem; display: block; font-weight: 400; line-height: 1.5;">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="city" style="margin-bottom: .5rem; font-weight: 500;">City</label>
                                        <input id="city" name="city" placeholder="Enter company location city..." type="text" class="form-control" style="padding: .47rem .75rem; font-size: .8125rem; display: block; font-weight: 400; line-height: 1.5;">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="zipCode" style="margin-bottom: .5rem; font-weight: 500;">Zip code</label>
                                        <input id="zipCode" name="zipCode" placeholder="Enter company location zip code..." type="text" class="form-control" style="padding: .47rem .75rem; font-size: .8125rem; display: block; font-weight: 400; line-height: 1.5;">
                                    </div>
                                </div>
                            </div>

                            <div class="justify-content-end row">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-primary" style="font-size: 13px;" id="create-company-button">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#create-company-button').on('click', function (event) {
                event.preventDefault();
                $('#create-company-form div.form-group').each(function () {
                    $(this).find('span').remove();
                    $(this).find('input').removeClass('error-form-input');
                });

                let formData = new FormData;

                $('#create-company-form').serializeArray().map(function (element) {
                    if (element.value !== '') {
                        formData.append(element.name, element.value);
                    }
                });

                fetch('{{ path('api.v1.invoices.companies.create') }}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'Authorization': 'Bearer {{ app.session.get('user.token') }}'
                    }
                }).then((response) => {
                    return response.json();
                }).then((response) => {
                    if (response.errors) {
                        response.errors.forEach(function (error) {
                            let errorElement = $(`input[name='${error.propertyPath}']`);

                            errorElement.addClass('error-form-input');
                            errorElement.after(`<span style="font-size: 9px; color: red;">${error.message}</span>`)
                        });

                        return;
                    }

                    let route = '{{ path('invoices.company.edit.page', {'id': '__companyId__'}) }}';

                    window.location.href = route.replace('__companyId__', response.id);
                });
            });
        });
    </script>
{% endblock %}