{% extends 'invoices/dashboard.html.twig' %}

{% block submodules %}
    <div class="container-fluid">
        <h4 style="font-size: 18px; font-weight: 600;text-transform: uppercase;color: #495057;">Companies</h4>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-2 row">
                            <div class="col-md-12" style="text-align: right;">
                                <button class="button-create-new btn btn-success" id="button-create-new-company">
                                    <i class="bi bi-plus"></i>
                                    Create new
                                </button>
                            </div>
                        </div>

                        <div>
                            <table class="table align-middle table-nowrap table-check">
                                <thead class="table-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Identification Number</th>
                                        <th>Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="table-companies-body">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1100; margin-bottom: 80px;">

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();

            function loadData() {
                fetch('{{ path('api.v1.invoices.companies.getAll') }}', {
                    'method': 'GET',
                    'headers': {
                        'Authorization': 'Bearer {{ app.session.get('user.token') }}'
                    },
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    renderTable(data);
                });
            }

            function renderTable(companies) {
                $('#table-companies-body').empty();

                companies.forEach((company) => {
                    const html = `
                    <tr>
                        <th scope="row">${company.id}</th>
                        <td>${company.name}</td>
                        <td>${company.identificationNumber}</td>
                        <td>${company.street}, ${company.zipCode} ${company.city}</td>
                        <td>
                            <div class="gap-3" style="display: flex !important; grid-gap: 1rem!important;">
                                <a href="#">
                                    <i class="bi bi-pencil edit-company-button" style="color: #34c38f!important; font-size: 18px;" data-company-id="${company.id}"></i>
                                </a>
                                <a href="#" style="color: #f46a6a!important; font-size: 18px;">
                                    <i class="bi bi-trash delete-company-button" style="color: #f46a6a!important; font-size: 18px;" data-company-id="${company.id}"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                `

                    $('#table-companies-body').append(html);
                });
            }

            // Edit button handler.
            $('body').on('click', '.edit-company-button', function (event) {
                event.preventDefault();
                let url = '{{ path('invoices.company.edit.page', {'id': '__companyId__'}) }}';

                window.location.href = url.replace('__companyId__', $(this).data('company-id'));
            });

            // Create button handler.
            $('#button-create-new-company').on('click', function() {
                window.location.href = '{{ path('invoices.company.create.page') }}';
            });

            // Delete button handler.
            $('body').on('click', '.delete-company-button', function (event) {
                event.preventDefault();
                let url = '{{ path('api.v1.invoices.companies.delete', {'id': '__companyId__'}) }}';
                url = url.replace('__companyId__', $(this).data('company-id'));

                fetch(url, {
                    'method': 'DELETE',
                    'headers': {
                        'Authorization': 'Bearer {{ app.session.get('user.token') }}'
                    },
                }).then(() => {
                    const uniqueId = 'liveToast' + Math.floor(Math.random() * 100000);
                    let toastContainer = $('.toast-container');
                    const toastHTML = `
                        <div>
                            <div id="${uniqueId}" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: #00ca72">
                                <div class="toast-header" style="background-color: #00ca72; border-bottom: 0;">
                                    <strong class="me-auto" style="color: #fff;">Success!</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" style="color: #fff" aria-label="Close"></button>
                                </div>
                                <div class="toast-body" style="color: #fff;">
                                    Company was successfully deleted.
                                </div>
                            </div>
                        </div>
                    `;
                    toastContainer.append(toastHTML);

                    const toast = new bootstrap.Toast(document.querySelector('#' + uniqueId), {
                        'delay': 3000,
                    });
                    toast.show();

                    loadData();
                });
            });
        });
    </script>
{% endblock %}