{% extends 'base.html.twig' %}

{% block content %}
    <body style="width: 21cm; height: 22cm">
    <div style="width: 21cm; height: 22cm">
        <div id="header" style="text-align: center; width: 100%; margin-top: 60px; font-weight: bold;font-size: 24px;">
            Faktura nr FV 1/2/2021
        </div>
        <div style="margin-top: 20px; font-size: 12px; text-align: right;">
            <div style="margin-right: 20px;">
                <div style="display: inline-block;">Data wystawienia:</div>
                <div style="display: inline-block; min-width: 80px;font-size: 13px; font-weight: bold;">28-02-2021</div>
            </div>
            <div style="margin-right: 20px;">
                <div style="display: inline-block;">Data sprzedaży:</div>
                <div style="display: inline-block; min-width: 80px; font-size: 13px; font-weight: bold;">28-02-2021</div>
            </div>
            <div style="margin-right: 20px;">
                <div style="display: inline-block;">Miejsce wystawienia:</div>
                <div style="display: inline-block; min-width: 80px; font-size: 13px; font-weight: bold;">Gdańsk</div>
            </div>
        </div>

        <div style="margin-right: 20px; margin-left: 20px; border: none; color: black; background-color: black; height: 1px;  margin-top: 30px;"></div>

        <div style="gap: 10px; margin-right: 20px; margin-left: 20px; margin-top: 30px; display: inline-block;">
            <div style="margin-left: 3px; display: inline-grid;">
                <div style="font-size: 12px;">Sprzedawca:</div>
                <div style="font-size: 13px; font-weight: bold;">MARDEUS SERGII SIRYI</div>
                <div style="font-size: 12px;">ul. Anny Jagiellonki 30/14</div>
                <div style="font-size: 12px;">80-034 Gdańsk</div>
                <div style="font-size: 12px;">NIP: 5842782477</div>
                <div style="font-size: 12px;">E-mail: sergii.siryi97@gmail.com</div>
                <div style="font-size: 12px;">Tel.: 576926898</div>
            </div>

            <div style="margin-left: 400px; display: inline-grid;">
                <div style="font-size: 12px;">Nabywca:</div>
                <div style="font-size: 13px; font-weight: bold;">Develocraft sp. z o.o.</div>
                <div style="font-size: 12px;">ul. Grunwaldzka 472B</div>
                <div style="font-size: 12px;">80-309 Gdańsk</div>
                <div style="font-size: 12px;">NIP: 5842768945</div>
            </div>
        </div>

        <div style="margin-top: 30px;">
            <table style="border: 1px solid black; margin-right: 20px; margin-left: 20px; font-size: 11px;" cellpadding="3">
                <thead>
                <tr style="border: 1px solid black; text-align: center;">
                    <td style="border: 1px solid black;" width="20px">Lp</td>
                    <td style="border: 1px solid black;" width="220px">Nazwa towaru lub usługi</td>
                    <td style="border: 1px solid black;" width="30px">Jm</td>
                    <td style="border: 1px solid black;" width="40px">Ilość</td>
                    <td style="border: 1px solid black;">Cena netto</td>
                    <td style="border: 1px solid black;">Stawka VAT</td>
                    <td style="border: 1px solid black;">Wartość netto</td>
                    <td style="border: 1px solid black;">Wartość VAT</td>
                    <td style="border: 1px solid black;">Wartość brutto</td>
                </tr>
                </thead>
                <tbody>
                <tr style="border: 1px solid black;text-align: center; font-size: 10px;">
                    <td style="border: 1px solid black;">1</td>
                    <td style="border: 1px solid black; text-align: left;">Usługi informatyczne za {{ paymentMonth }}.2021 </td>
                    <td style="border: 1px solid black;">nd.</td>
                    <td style="border: 1px solid black;">1</td>
                    <td style="border: 1px solid black;">{{ nettoPrice|number_format(2, '.', '') }}</td>
                    <td style="border: 1px solid black;">23%</td>
                    <td style="border: 1px solid black;">{{ nettoPrice|number_format(2, '.', '') }}</td>
                    <td style="border: 1px solid black;">{{ vatPrice|number_format(2, '.', '') }}</td>
                    <td style="border: 1px solid black;">{{ bruttoPrice|number_format(2, '.', '') }}</td>
                </tr>
                <tr style="border: 1px solid black;text-align: center; font-size: 10px;">
                    <td style="border: 1px solid black;">2</td>
                    <td style="border: 1px solid black; text-align: left;">Dodatkowe wynagrodzenie w ramach par 2 pkt. 2 umowy o współpracę z dnia 16.07.2019</td>
                    <td style="border: 1px solid black;">nd.</td>
                    <td style="border: 1px solid black;">1</td>
                    <td style="border: 1px solid black;">482.00</td>
                    <td style="border: 1px solid black;">23%</td>
                    <td style="border: 1px solid black;">482.00</td>
                    <td style="border: 1px solid black;">110.86</td>
                    <td style="border: 1px solid black;">592.86</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-top: 20px; margin-left: auto; margin-right: 0; display: flex; justify-content: flex-end">
            <table style="border: 1px solid black; margin-right: 20px; margin-left: 20px; font-size: 11px;" cellpadding="3">
                <thead>
                <tr style="border: 1px solid black; text-align: center;">
                    <td style="border: 1px solid black;"></td>
                    <td style="border: 1px solid black;">Wartość netto</td>
                    <td style="border: 1px solid black;">Wartość VAT</td>
                    <td style="border: 1px solid black;">Wartość brutto</td>
                </tr>
                </thead>
                <tbody>
                <tr style="border: 1px solid black; text-align: center;">
                    <td style="border: 1px solid black;">23%</td>
                    <td style="border: 1px solid black;">{{ totalNetto|number_format(2, '.', '') }}</td>
                    <td style="border: 1px solid black;">{{ totalVat|number_format(2, '.', '') }}</td>
                    <td style="border: 1px solid black;">{{ totalBrutto|number_format(2, '.', '') }}</td>
                </tr>
                <tr style="border: 1px solid black; text-align: center;">
                    <td style="border: 1px solid black;">Razem</td>
                    <td style="border: 1px solid black;">{{ totalNetto|number_format(2, '.', '') }}</td>
                    <td style="border: 1px solid black;">{{ totalVat|number_format(2, '.', '') }}</td>
                    <td style="border: 1px solid black;">{{ totalBrutto|number_format(2, '.', '') }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="display: grid; grid-template-columns: repeat(3, 1fr);gap: 0;grid-auto-rows: minmax(100px, auto); margin-right: 0; margin-left: 20px; margin-top: 30px;">
            <div style="grid-column: 1/3; grid-row: 1; margin-left: 3px;">
                <div>
                    <div style="display: inline-block; font-size: 12px;">Forma zapłaty:</div>
                    <div style="display: inline-block; min-width: 80px;font-size: 13px; font-weight: bold;">przelew</div>
                </div>
                <div>
                    <div style="display: inline-block; font-size: 12px;">Termin zapłaty:</div>
                    <div style="display: inline-block; min-width: 80px;font-size: 13px; font-weight: bold;">{{ paymentDay }}</div>
                </div>
                <div>
                    <div style="display: inline-block; font-size: 12px;">Bank:</div>
                    <div style="display: inline-block; min-width: 80px;font-size: 13px; font-weight: bold;"></div>
                </div>
                <div>
                    <div style="display: inline-block; font-size: 12px;">Nr konta:</div>
                    <div style="display: inline-block; min-width: 80px;font-size: 13px; font-weight: bold;">48 1140 2004 0000 3202 7864 4899</div>
                </div>
            </div>

            <div style="grid-column: 3/3; grid-row: 1; margin-left: 3px;">
                <div>
                    <div style="display: inline-block; font-size: 12px;">Razem:</div>
                    <div style="display: inline-block; min-width: 80px;font-size: 13px; font-weight: bold;">{{ totalBrutto|number_format(2, '.', '') }} PLN</div>
                </div>
                <div>
                    <div style="display: inline-block; font-size: 12px;">Płatność otrzymana:</div>
                    <div style="display: inline-block; min-width: 80px;font-size: 13px; font-weight: bold;">0.00 PLN</div>
                </div>
                <div>
                    <div style="display: inline-block; font-size: 12px;">Do zapłaty:</div>
                    <div style="display: inline-block; min-width: 80px;font-size: 13px; font-weight: bold;">{{ totalBrutto|number_format(2, '.', '') }} PLN</div>
                </div>
                <div>
                    <div style="display: inline-block; font-size: 12px;">Słownie do zapłaty:</div>
                    <div style="display: inline-block; min-width: 80px;font-size: 13px; font-weight: bold;">{{ textPrice }}
                    </div>
                </div>
            </div>
        </div>

        <div style="display: grid; grid-template-columns: repeat(2, 1fr);gap: 0;grid-auto-rows: minmax(100px, auto); margin-right: 0; margin-left: 20px; margin-top: 50px;">
            <div style="grid-column: 1/2; grid-row: 1; margin-left: 3px; width: 80%; text-align: center; font-size: 10px;">
                <hr/>
                <div>Osoba upoważniona do wystawienia</div>
            </div>
            <div style="grid-column: 2/2; grid-row: 1; margin-left: 3px; width: 80%; text-align: center; font-size: 10px;">
                <hr/>
                Osoba upoważniona do odbioru
            </div>
        </div>
    </div>
    </body>
{% endblock %}