{% extends 'finances/dashboard.html.twig' %}

{% block submodules %}
    <form id="createCompanyForm">
        <div class="mt-5">
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="mb-1">
                    <div class="d-grid">
                        <div class="input-group">
                            <div class="input-group">
                                <span class="input-group-text col-5">Name<span style="color: red;">*</span>:     </span>
                                <input type="text" aria-label="Company name" name="name" class="form-control col-7" value="{{ company.name }}" required>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-5">Identification number<span style="color: red;">*</span>:</span>
                            <input type="text" aria-label="Identification number" name="identificationNumber" class="form-control col-7" required value="{{ company.identificationNumber }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-5">Email:</span>
                            <input type="email" aria-label="Email" name="email" class="form-control col-7" value="{{ company.email }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-5">Phone number:</span>
                            <input type="text" aria-label="Phone number" name="phoneNumber" class="form-control col-7" value="{{ company.phoneNumber }}">
                        </div>

                        <div class="input-group" style="text-align: center;">
                            <span class="input-group-text col-12" style="display: block;">Company payment information</span>
                        </div>

                        <div class="input-group">
                            <span class="input-group-text col-5">Payment type:</span>
                            <input type="text" aria-label="Payment type" name="paymentType" class="form-control col-7" value="{{ company.paymentType }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-5">Payment last date:</span>
                            <input type="number" step="1" aria-label="Payment last date" name="paymentLastDate" class="form-control col-7" value="{{ company.paymentLastDate }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-5">Bank:</span>
                            <input type="text" aria-label="Bank" name="bank" class="form-control col-7" value="{{ company.bank }}">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-5">Account number:</span>
                            <input type="text" aria-label="Account number" name="accountNumber" class="form-control col-7" value="{{ company.accountNumber }}">
                        </div>

                        <div class="input-group" style="text-align: center;">
                            <span class="input-group-text col-12" style="display: block;">Company address</span>
                        </div>

                        <div class="input-group">
                            <span class="input-group-text col-5">Street<span style="color: red;">*</span>:</span>
                            <input type="text" aria-label="Street" name="street" class="form-control col-7" value="{{ company.street }}">
                        </div>

                        <div class="input-group">
                            <span class="input-group-text col-5">Zip code<span style="color: red;">*</span>:</span>
                            <input type="text" aria-label="Zip code" name="zipCode" class="form-control col-7" value="{{ company.zipCode }}">
                        </div>

                        <div class="input-group">
                            <span class="input-group-text col-5">City<span style="color: red;">*</span>:</span>
                            <input type="text" aria-label="City" name="city" class="form-control col-7" value="{{ company.city }}">
                        </div>

                        <hr/>
                    </div>
                </div>

                <button type="button" class="btn btn-success" id="createCompanyButton">Save</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#createCompanyButton').on('click', function () {
                let formData = new FormData;

                $('#createCompanyForm').serializeArray().map(function (element) {
                    if (element.value !== '') {
                        formData.append(element.name, element.value);
                    }
                });

                fetch('{{ path('finances.company.edit', {'id': company.id}) }}', {
                    method: 'POST',
                    mode: 'cors',
                    body: formData,
                }).then((response) => {
                    if (response.status !== 200) {
                        window.location.href = '{{ path('finances.company.edit.page', {'id': company.id}) }}';

                        return;
                    }

                    window.location.href = '{{ path('finances.company.showAll') }}';
                });
            });
        });
    </script>
{% endblock %}